.experience-item {
    width: 100%;
    margin-bottom: 2rem;
}


.experience-item > .dot {
    /*
    background-color: #333333;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    */
    width: 10%;
}

.experience-item > .content {
    width: 100%;
    float: right;
    text-align: left;
}

.experience-item > .content > .subtitle#name {
    
    float: left;
    text-align: left;
    font-weight: bold;
    color: #3D5A80;
}

.experience-item > .content > .subtitle#organization {
    font-weight: bold;
    color: #808080;
}

.experience-item > .content > .subtitle#project-description {
    width: 100%;
    text-align: left;
    color: #293241;
}

.experience-item > .content > .responsibility {
    width: 100%;
    text-align: left;
    color: #293241;
}



@media screen and (max-width: 760px) {
    /*mobile*/
    .experience-item > .content > .subtitle {
        font-size: 1rem;
        padding: 0.4rem 0;
    }

    .experience-item > .content > .subtitle#name {
        font-size: 1rem;
        width: 100%;
    }

    .experience-item > .content > .subtitle#organization {
        width: 100%;
        font-size: 1rem;
    }

    .experience-item > .content > .subtitle#project-description {
        font-size: 1rem;
    }

    .experience-item > .content > .responsibility {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
}
@media screen and (min-width: 761px) {
    /*laptop*/
    

    


    .experience-item > .content > .subtitle {
        font-size: 1.4rem;
        padding: 0.5rem 0;
    }

    .experience-item > .content > .subtitle#name {
        font-size: 1.4rem;
        width: 50%;
    }

    .experience-item > .content > .subtitle#organization {
        width: 50%;
        float: right;
        text-align: right;
        font-size: 1.4rem;
    }

    .experience-item > .content > .subtitle#project-description {
        font-size: 1.4rem;
    }

    .experience-item > .content > .responsibility {
        font-size: 1.3rem;
        line-height: 2rem;
    }
}